.container {
  margin-top: 2rem;
  height: 20rem;
}
.todoCard {
  display: flex;
  justify-content: space-between;
}
.todoCardLeft {
  display: flex;
}
.todoCardLeft label {
  margin: 0 0 7px 10px;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--color-text);
}

.todoCardLeft label:hover {
  opacity: 0.5;
}

.todoCardLeft input {
  margin: 0 0 10px 0px;
  width: 1.2rem;
}

.todoCardLeft input:hover {
  margin: 0 0 5px 0;
  width: 1.5rem;
  transform: scale(1.2);
}

.completed {
  text-decoration: line-through;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 100%;
  color: var(--color-text);
}

.deleteButton:hover {
  opacity: 0.5;
  transform: rotate(15deg) scale(1.2);
}

.deleteButton:active {
  opacity: 0.2;
}
