.form {
  width: 100%;
  display: flex;
}

.input {
  flex: 1 0 auto;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button {
  border: 1px solid lightgray;
  cursor: pointer;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0 2rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button:hover {
  opacity: 70%;
}

.button:active {
  opacity: 20%;
}
